* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.cont-main {
    height: 100%;
}

.img-logo {
    width: 40px;
    margin-right: 20px;
}

.img-menu {
    width: auto;
    max-width: 25px;
    margin-right: 76px;
    filter: invert();
}

.nav-edit {
    background: rgb(0 0 0 / 27%);
    box-shadow: 1px 1px 29px 1px rgba(0, 0, 0, 0.322);
    position: absolute !important;
    width: 100%;
}

.navbar-brand {
    opacity: 100% !important;
    color: white;
}

.nav-option a {
    color: white !important;
}

.form-1 {
    display: grid;
    margin-left: auto !important;
    width: 100% !important;
    margin-right: auto !important;
    background-color: #FFFF;
    min-width: 450px;
    padding: 5%;
    margin-top: 6% !important;
    border-radius: 15px;
    box-shadow: 1px 1px 19px 2px gray;
    /* margin-top: 20%;
    padding: 2%;
    background-color: rgb(201, 201, 201);
    position: relative; */
}

.form-2 {
    justify-content: center;
    margin-right: auto !important;
    width: auto !important;
    margin-left: 5% !important;
    height: 100%;
    max-height: 640px;
    background-color: #FFFF;
    min-width: 450px;
    padding: 5%;
    margin-top: 3% !important;
    border-radius: 15px;
    box-shadow: 1px 1px 19px 2px gray;
    overflow: scroll;
}

.face2 {
    display: grid
}

.group {
    margin-right: auto;
    margin-left: auto;
}

.form-input {
    text-align: center;
    height: 40px;
    border-radius: 15px;
    width: 320px;
    outline: none;
}

footer {
    /* border-top: 2px solid rgb(248, 250, 255); */
    background: #00000048;
    position: relative;
    width: 100%;
}

.info-about-us {
    margin-top: 6%;
}

.title {
    text-align: center;
    margin-bottom: 10%;
    border-bottom: 2px solid gray;
}

.buttons {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    margin-bottom: 10%;
}

.button-face1 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    margin-bottom: 10%;
    align-items: center;
    display: grid;
}

.form-control {
    border: 0px !important;
    border-bottom: 1px solid rgb(230, 230, 230) !important;
}

.social-img {
    height: 40px;
    margin-left: 3%;
}

.redes-sociales {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 10%;
}

.social-title {
    margin-left: 3%;
}

.footer-desing {
    display: flex;
    flex-wrap: wrap;
}

.cont-main {
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-cont {
    margin-left: auto;
    margin-right: auto;
}


/* .cont-2 {
    background-color: rgb(236, 236, 236);
    border-top: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(218, 218, 218);
} */

body {
    background: rgb(43, 206, 203);
    background: linear-gradient(59deg, rgba(43, 206, 203, 1) 0%, rgba(67, 220, 116, 1) 100%);
}

.btnform {
    width: 100px;
}


/* box-shadow: 1px 15px 15px 1px rgb(150, 150, 150);*/